* {
    box-sizing: border-box;
    text-align: center;
  }

body {
   background-image: url("../src/images/dogBonesPink.png")
}

h1 {
    text-align: center;
}

div {
    width: 75%;
    padding: 10px;
    background: white;
    margin: auto; 
  }

  img {
      padding: 25px;
      height: 250px;
      width: 350px;
  }