* {
    box-sizing: border-box;
    text-align: center;
    
  }

/* body {
   background-image: url("../src/images/KysonLD.jpg")
} */

h1 {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: #00ccff;
}

  img {
      width: 75%;
      position: relative;
  }